@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@100;200;400&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
img:not(p img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: center;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 15vh;
}
header h1 {
    color: white;
    font-family: "Agbalumo", cursive;
    font-size: 10vh;
    text-shadow: 2px 2px #FF5733, -2px -2px #FF5733;
    padding: 0px 10%;
    text-align: center;
}
p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-size: 1rem;
    max-width: 500px;
}

main {
    background-image: linear-gradient(45deg, #ffffffee, #ffffffee),url(../images/pond.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#foot {
    position: absolute;
    bottom: 2%;
}

.gallery {
    width: 90vw;
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vh 20vh 15vh 20vh;
    grid-template-areas:
        "para1 img1 img2 img2"
        "img3 para2 img4 img7"
        "img3 para2 img5 img7"
        "img6 img6 para3 img7" 
    ;
}

.gallery p {
    border: 0.5px solid #FF5733;
    padding: 10px 0px 0px 10px;
}

#para1 {
    grid-area: para1;
    position: relative;
}
#para1 img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
}

#para2 {
    grid-area: para2;
}
#para3 {
    grid-area: para3;
}

#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}
#img5 {
    grid-area: img5;
}
#img6 {
    grid-area: img6;
}
#img7 {
    grid-area: img7;
}

@media screen and (max-width: 500px) {
    main {
        height: auto;
    }
    header h1 {
        font-size: 10vw;
    }
    .gallery {
        padding: 50px 0px 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        gap: 10px;
        grid-template-areas:
            "img1 para1"
            "img2 img3"
            "para2 img5"
            "img4 img7"
            "img6 img7"
            "para3 img7"
        ;
    }
    #foot {
        position: static;
        padding-bottom: 25px;
    }
}