/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 100%;
}
.frame-1 {
    border: 10px solid #ffeedd;
    margin: 70px 12px 0px;
    box-shadow: -2px 2px 2px #3a3632;
    width: 120px;
}
.frame-1 div {
    padding: 12px;
    background-color: white;
    box-shadow: 
        inset -1px 1px 2px #3a3632,
        inset 1px -1px 2px #3a3632
    ;
}
.frame-1 img {
    border-radius: 100%;
}