@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    width: 100%;
    object-fit: contain;
}
body {
    font-family: sans-serif;
}
header {
    text-align: center;
    width: 90vw;
    max-width: 800px;
    margin: 1.25rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header #overview {
    text-align: left;
    font-size: 21px;
}
header #attendance {
    margin: 1rem auto 1.5rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#attendance .examples {
    font-size: 16px;
}

main {
    display: grid;
    width: 90vw;
    max-width: 800px;
    margin: 1.25rem auto;
    gap: 1.25rem;
    grid-template-columns: minmax(0px, 1fr) auto minmax(0px, 1fr);
    grid-template-areas:
        "timeline line fact"
    ;
}
#timeline {
    grid-area: timeline;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    font-size: 21px;
    justify-content: center;
}
.line {
    grid-area: line;
    width: 1vw;
    max-width: 2px;
    height: 100%;
    background-color: #ffbf00;
}
#fact {
    grid-area: fact;
    display: grid;
    grid-template-rows: auto auto minmax(0px, 1fr);
    grid-template-areas:
    "intro"
    "fact"
    "image";
    font-size: 18px;
}
#fact strong {
    grid-area: intro;
    text-align: center;
}
#fact .thefact {
    grid-area: fact;
    margin: .75rem 0px 1.25rem;
}
#fact .frame {
    grid-area: image;
    height: 100%;
    border: 10px ridge #ffbf00;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow:
        inset 1px 1px 3px black,
        inset -1px -1px 3px black
    ;
}
.frame span {
    box-shadow:
        inset 1px 1px 5px black,
        inset -1px -1px 5px black
    ;
    display: block;
    padding: 2px;
}
#fact .frame img {
    height: 100%;
    object-fit: cover;
    display: block;
}
#fact a {
    text-decoration: none;
    border-bottom: 1px solid #ffbf00;
    display: inline-block;
    color: #916d00;
    padding-bottom: 2px;
    transition: all .5s;
}
#fact a:hover {
    color: #ffbf00;
    border-width: 5px;
    font-size: 1.125em;
}

footer {
    text-align: center;
}
footer hr {
    border: none;
    border-bottom: 2px solid #ffbf00;
}
footer h4 {
    margin: 1.25rem auto;
    font-size: 1.5rem;
}
#dinners {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    width: 90vw;
    max-width: 800px;
    margin: 1.25rem auto;
    justify-content: center;
    font-size: 1.25rem;
}