/* Drill 1 - Write your code solution below */
div.orange {
    color: limegreen;
}


/* Drill 2 - Write your code solution below */
div.purple {
    color: orangered;
}


/* Drill 3 - Write your code solution below */
div.dashed p span {
    color: magenta;
}


/* Drill 4 - Write your code solution below */
div.shadowed p {
    background-color: skyblue;
}


/* Drill 5 - Write your code solution below */
div.dog-days img {
    border-radius: 10000px;
}

