h2 {
    text-align: center;
}
.color-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.color-card {
    background-color: #efefef;
    padding: 1.25rem 1.25rem 0px 1.25rem;
    max-width: 100%;
    min-width: 25%;
    text-align: center;
}
.color-card .c1 {
    background-color: #00E6E4;
    width: 100%;
    height: 6rem;
}
.color-card .c2 {
    background-color: #DD982A;
    width: 100%;
    height: 6rem;
}
.color-card .c3 {
    background-color: #BC80E1;
    width: 100%;
    height: 6rem;
}