#navbar {
    text-align: center;
    padding: 24px;
    background-color: blue;
}
#navbar a {
    color: white;
    text-decoration: none;
}

p a {
    color: teal;
}

p.warning {
    color: crimson;
}

p.warning a {
    color: orange;
}

div.warning {
    color: coral;
}

div.warning a {
    color: blue;
    font-size: 48px;
    display: block;
}

ul {
    color: green;
}

ul a {
    color: grey;
}

ul p a {
    color: purple;
}

ul li div a {
    color: lightblue;
}

ul div a {
    color: red;
}