div {
    border: 10px dashed red;
    margin: 24px 0px;
    padding: 24px 36px;
    background-color: lightcoral;
}

p {
    background-color: cornflowerblue;
    margin: 60px;
    padding: 48px 60px;
    border-radius: 48px;
}