/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: #12fe22;
    display: inline-block;
    width: 25%;
    height: auto;
    margin: 24px;
    padding: 24px;
    font-family: fantasy;
}
img {
    width: 100%;
}
.blue {
    background-color: #000044;
    color: white;
    font-family: cursive;
    border: 12px ridge white;
}
.orange {
    background-color: orange;
    text-align: center;
    font-size: 20px;
}
.center {
    text-align: center;
}
.pink {
    background-color: #ffc0cb99;
}

/* DO NOT ATTEMPT unless you are confident :) */
#advanced-sticky {
    position: relative;
}
#advanced-sticky .dot, .dot2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border: 3px ridge rgb(85, 22, 22);
    background-color: brown;
    border-radius: 100%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.456);
}
.dot2 {
    right: 10px;
    left: auto;
}