/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: #12fe22;
    display: inline-block;
    width: 25%;
    height: 250px;
    margin: 24px;
    padding: 24px;
    font-family: fantasy;
}
img {
    width: 100%;
}
.blue {
    background-color: #000044;
    color: white;
    font-family: cursive;
}